[submodule "addons/ofxDarknet"]
	path = addons/ofxDarknet
	url = https://github.com/seieibob/ofxDarknet.git
[submodule "addons/ofxFontStash"]
	path = addons/ofxFontStash
	url = https://github.com/armadillu/ofxFontStash.git
[submodule "addons/ofxTimeMeasurements"]
	path = addons/ofxTimeMeasurements
	url = https://github.com/armadillu/ofxTimeMeasurements.git
[submodule "addons/ofxImGui"]
	path = addons/ofxImGui
	url = https://github.com/jvcleave/ofxImGui.git
