[submodule "addons/ofxDarknet"]
	path = addons/ofxDarknet
	url = https://github.com/seieibob/ofxDarknet.git
[submodule "addons/ofxFontStash"]
	path = addons/ofxFontStash
	url = https://github.com/armadillu/ofxFontStash.git
